.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid grey;
  border-radius: 10px;
  margin: 10px;
  width: 250px;
}

.container input {
  margin: 5px;
}
.container button {
  width: 80px;
  padding: 5px;
}

.container p {
  margin: 5px;
  padding: 5px;
}

.clickable {
  cursor: pointer;
}
